* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color: #E5E5E5;
  --header-color: #211F20;
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-light-xl: #FFF;
  --color-dark-xl: #4C4C4C;
  --color-light-s: #FAFAFA;
  --color-dark-s: #CDCDCD;
  --color-dark-l: #545454;
  --color-light-l: #F6F6F6;
  --color-dark-3xl: #292929;
  --color-dark-m: #B2B2B2;
  --trans: 0.3s ease-out;
  --padding: 3.13%;
}

@font-face {
    font-family: "myArial";
    src: url("../../assets/fonts/arial/arial.ttf") format("opentype");
}

@font-face {
    font-family: "myGeorgia";
    src: url("../../assets/fonts/georgia/georgia.ttf") format("opentype");
}

html { 
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  font-family: arial, "myArial", sans-serif;
  background-color: var(--color-light-xl);
}

h1, h2, h3, h4, h5, h6 {
  font-family: georgia, "myGeorgia", serif;
  font-weight: 400;
  letter-spacing: 0.06em; 
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
  text-align: center;
  padding: 30px var(--padding);  
}

.header__logo {
  display: block;
}

.header__logo:hover .logo__title,
.header__logo:hover .logo__subtitle{
  color: var(--color-dark-3xl);
}

.logo__title {
  font-size: 32px;
  line-height: 110%;
  color: var(--color-dark-l);
  padding-bottom: 7px;
  transition: var(--trans);
}

.logo__subtitle {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: var(--color-dark-3xl);
  transition: var(--trans);
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 36px;
  margin-top: -3px;
}

.nav__link {
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-l);
  transition: var(--trans);
}

.nav__link:hover {
  color: var(--color-dark-3xl);
}

.nav__link_active {
  padding-bottom: 3px;
  border-bottom: 3px solid var(--color-primary);
  color: var(--color-dark-3xl);
}

.header__menu-btn {
    display: none; 
    background: none;
    border: none;
    padding: 23px;
    padding-top: 26px;
    margin-right: 21px;
}

.header__menu-btn svg {
    width: 29px;
    height: 22px;
    stroke: black;
}

.our-friends__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding: 80px var(--padding);
  padding-bottom: 100px;
  background-color: var(--color-light-l); 
}

.our-friends__title {
  text-align: center;
  font-size: 35px;
  line-height: 130%;
  max-width: 400px;
  color: var(--color-dark-l);
}

.our-friends__card-block {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 30px; 
  column-gap: 3.3%;
}

.our-friends__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  background-color: var(--color-light-xl);
  padding-bottom: 30px;
  transition: var(--trans);
  cursor: pointer;
  border-radius: 9px;
}

.our-friends__card:hover {
  filter: contrast(1.1) brightness(0.96) saturate(130%);
}

.our-friends__name {
  font-size: 20px;
  line-height: 22px;
  color: var(--color-dark-l);
}

.our-friends__button {
  width: 187px;
  height: 52px;
  border: 2px solid var(--color-primary);
  border-radius: 100px;
  font-family: georgia, "myGeorgia", serif;
  font-size: 17px;
  line-height: 130%; 
  letter-spacing: 0.06em;
  background-color: inherit;
  color: var(--color-dark-3xl);
  transition: var(--trans);
}

.our-friends__card:hover .our-friends__button {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.pagination {
  display: flex;
  gap: 20px;
}

.pagination__first,
.pagination__prev,
.pagination__page,
.pagination__next,
.pagination__last{
  width: 52px;
  height: 52px;
  border-radius: 50%;
  border: 2px solid var(--color-primary);
  font-family: georgia, "myGeorgia", serif;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  background-color: inherit;
  transition: var(--trans);
}

.pagination__first:hover,
.pagination__prev:hover,
.pagination__page:hover,
.pagination__next:hover,
.pagination__last:hover {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

.disabled {
  color: var(--color-dark-s);
  border-color: var(--color-dark-s);
  pointer-events: none;
}

.active {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  pointer-events: none;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10%;
  padding: 0 var(--padding);  
  padding-top: 40px;  
  min-height: 350px;
  background: url('../../assets/images/noise_transparent@2x.jpg'), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);  
  background-blend-mode: multiply;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 15px;
  padding-bottom: 60px;
  flex-basis: 300px;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding-top: 15px;
  padding-bottom: 60px;
  flex-basis: 300px;
  margin-left: -24px; 
}

.contacts__title,
.location__title {
  font-size: 35px;
  line-height: 130%;
  color: var(--color-light-xl);
}

.contacts__mail,
.contacts__phone,
.location__boston,
.location__london {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  line-height: 115%;
  color: var(--color-primary);
  transition: var(--trans);
}

.contacts__mail:hover,
.contacts__phone:hover,
.location__boston:hover,
.location__london:hover {
  color: var(--color-primary-light);
}

.contacts__mail svg,
.contacts__phone svg {
  width: 40px;
  height: 32px;
  flex-shrink: 0;
  fill: var(--color-primary);
  transition: var(--trans);
}

.location__boston svg,
.location__london svg {
  width: 22px;
  height: 32px;
  flex-shrink: 0;
  fill: var(--color-primary);
  transition: var(--trans);
}

.contacts__mail:hover svg,
.contacts__phone:hover svg,
.location__boston:hover svg,
.location__london:hover svg {
  fill: var(--color-primary-light);
}

.footer__img {
  height: 100%;
}

@media (max-width: 1279px) {
    .our-friends__card:nth-child(7),
    .our-friends__card:nth-child(8) {
        display: none;
    }
}

@media (max-width: 1080px) {  
    .footer__container {
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media (max-width: 769px) {
    :root {
        --padding: 3.91%;
    }   
    .our-friends__container {
        gap: 30px;
        padding-bottom: 76px;
    }
    .our-friends__card-block {
        justify-content: center;
        column-gap: 6%;
    }
    .pagination {
        padding-top: 10px;
    }
    .footer__container {
        padding-top: 30px;
        column-gap: 8%;
        row-gap: 65px;
    }
    .contacts {     
        padding: 0;
        margin: 0;
        gap: 40px;
        margin-left: -4px;
    }
    .location {
        padding: 0;
        gap: 33px;
        margin-left: -18px;
    }
}

@media (max-width: 767px) {
      .our-friends__card-block {
        justify-content: space-evenly;
    }
}

@media (max-width: 720px) {
    .nav {
        display: none;
    }
    .header__menu-btn {
        display: block;
    }
}

@media (max-width: 623px) {
    .our-friends__card:nth-child(4),
    .our-friends__card:nth-child(5),
    .our-friends__card:nth-child(6) {
        display: none;
    }
    .header__container { 
        padding: 23px var(--padding);
    }
    .pagination {
      padding: 0;
    }
}

@media (max-width: 520px) {
    :root {
        --padding: 3.13%;
    }
    .our-friends__container {
       padding: 42px var(--padding);
       gap: 42px;
    }
    .our-friends__title,
    .contacts__title,
    .location__title {
        font-size: 25px;    
        text-align: center;
        letter-spacing: 0.06em;
    }
    .footer__container {
        row-gap: 12.4vw;
    }
    .contacts  {
        align-items: center;
    }
    .location {
        margin: 0;
        gap: 12.5vw;
    }
}

@media (max-width: 380px) {
    .pagination {
        gap: 10px;
    }
    .footer__img {
        height: 84vw;
    }
}
