* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: arial;
  *font-family: "courier new";
  font-weight: normal;
  font-size: 20px; 
  *font-size: 1.5vw;
}

body {
  display: flex;
  *color: #ddd;
  color: #c1c0c0;
  *background: url('assets/image/table.jpg'), radial-gradient(100% 215.42% at 0% 0%, #866a56 0%, #a69587 100%);
  background: url('assets/image/table2.jpg'), radial-gradient(100% 215.42% at 0% 0%, #b07d5b 0%, #5f432b 100%);
  background-size: 100%;
  background-blend-mode: multiply;
}

.wrapper {
    margin: auto;
    width: 35em;
    background-color: #6b6d74;
    border-radius: 4px;
}

.display {
  padding: 16px 0.5em;
  *padding: 16px 10px; 
  background-color: #6c6f75;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #55565a;
}

.screen {
  border-radius: 6px;
  padding: 4px;
  *background-image: linear-gradient(to bottom, #1a2133, #4d6398);
  background-image: linear-gradient(to bottom, #7b7f88, #a6a8ab);
}

.textarea {
  position: relative;
  width: 100%;
  *height: 160px;
  height: 10em;
  overflow: auto;
  padding: 8px 28px 16px;
  word-wrap: break-word;
  border-radius: 4px;
  background-color: #060606;
  color: #ddd;
  color: #aaaaaa;
  resize: none;
  font-size: 1em;
  letter-spacing: 0.02em;
}

textarea:focus {
    outline: none;
}

/* .inputArea::before {
  content: ">";
  position: absolute;
  top: 14px;
  left: 8px;
  *width: 8px;
  *height: 12px;
  *background-image: url("img/string-arrow.svg");
} */

.keyboard {
  margin-top: 0.5em;
  padding-left: 5px; 
}

.keyRow {
  display: flex;
  justify-content: center;
}

.key {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 2em;
  border-radius: 4px;
  width: 2em;
  height: 2em;
  text-align: center; 
  user-select: none;
  background-image: linear-gradient(to bottom, #3d3e42, #27292d);
}

.key:hover {
  background-image: linear-gradient(to bottom, #454545, #323232);
  color: #e3e1e1;
}

.key:active {
  background-image: linear-gradient(to bottom, #272727, #222121);
  color: #eee;
}

.tab {
   width: 3em;
}

.capslock {
   width: 4.9em;
   height: 2em;
   *font-size: 1em;
   line-height: 2em;
}

.shift {
  width: 4.9em;
}

.ctrl, .win, .alt {
  width: 2.6em;
}

.space {
  width: 13.8em;
}

.backspace {
  width: 5.5em;
}

.enter {
  width: 6em;
}

.hidden {
  display: none;
}

@media (max-width: 700px) {
    html {
        font-size: 2.5vw;
    }
}