* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html { 
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: arial;
  font-weight: normal;
  font-size: 20px; 
  height: 100%;
}

body { 
  display: flex;
  height: 100%;
  color: #c1c0c0;
  background: url('assets/image/table.jpg'), radial-gradient(100% 215.42% at 0% 0%, #b07d5b 0%, #5f432b 100%);
  background-size: 100%;
  background-blend-mode: multiply;
}

.wrapper {
    margin: auto;
    width: 35em;
    background-color: #6b6d74;
    border-radius: 4px;
    box-shadow: 1px 1px 5px black;
}

.display {
  padding: 16px 0.5em;
  background-color: #6c6f75;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid #55565a;
}

.screen {
  border-radius: 6px;
  padding: 4px;
  background-image: linear-gradient(to bottom, #7b7f88, #a6a8ab);
}

.frame {
    padding: 8px 28px 16px;
    background-color: #060606;
    border-radius: 4px; 
    position: relative;
}

.textarea {
  *position: relative;
  width: 100%;
  height: 10em;
  overflow: auto;
  word-wrap: break-word;
  font-size: 1em;
  letter-spacing: 0.02em;
  border: none;
  resize: none;
  background-color: inherit;
  color: #aaa;
}

.textarea:focus {
    outline: none;
}

.keyboard {
  margin-top: 0.5em;
  padding-left: 5px; 
}

.keyRow {
  display: flex;
  justify-content: center;
}

.key {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 2em;
  border-radius: 4px;
  width: 2em;
  height: 2em;
  text-align: center; 
  user-select: none;
  background-image: linear-gradient(to bottom, #3d3e42, #27292d);
}

.key:hover {
  background-image: linear-gradient(to bottom, #454545, #323232);
  color: #e3e1e1;
}

.active, .key:active {
  background-image: linear-gradient(to bottom, #272727, #222121);
  color: #eee;
}

.Tab {
   width: 3em;
}

.CapsLock {
   width: 4.9em;
   height: 2.5em;
   font-size: 0.8em; 
   line-height: 2.5em;
}

.ShiftLeft, .ShiftRight{
  width: 4.9em;
}

.ControlLeft, .ControlRight, .MetaLeft, .AltLeft, .AltRight {
  width: 2.6em; 
}

.Space {
  width: 13.8em;
}

.Backspace {
  width: 5.5em;
}

.Enter {
  width: 6em;
}

.hidden {
  display: none;
}

@media (max-width: 700px) {
    html {
        font-size: 2.5vw;
    }
}